{% extends 'base.html.twig' %}
{% block body %}

    {% include 'navbar.html.twig' %}

    <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="blog-lst col-md-12 pl0">
                    <section id="id-100" class="post single">

                        <div class="post-header single">
                            <div class="">
                                <h2 class="wow fadeInLeft animated">{{ article.title }}</h2>
                                <div class="title-line wow fadeInRight animated"></div>
                            </div>
                            <div class="row wow fadeInRight animated">
                                <div class="col-sm-6 right" >
                                    <p class="date-comments">
                                        <i class="fa fa-calendar-o"></i> {{ article.createdAt | date("Y-m-d") }}

                                    </p>
                                </div>
                            </div>
                            <div class="image wow fadeInRight animated">
                                <img src="{{ asset(article.media.path) }}" class="img-responsive" alt="Example blog post alt">

                                <div class="vue vue-opacity">
                                    <br>
                                    <h6 class="vue-text"><i class="fa fa-eye">&nbsp;&nbsp;</i>Vues : {{ article.hitcount }}</h6>
                                    <br>
                                </div>

                            </div>



                            <div id="post-content" class="post-body single wow fadeInLeft animated">
                                <p>
                                    {{ article.content }}
                                </p>
                            </div>

                            {% if app.user.isAdmin %}

                            <div class="btn-delete-modify text-center">
                                <a href="{{ path('app_article_delete', {id: article.id}) }}">
                                    <button class="btn-delete">Supprimer l'article</button>
                                </a>
                            </div>

                            {% endif %}

                            </div>

                    </section>

                    <section class="about-autor">

                    </section>


                </div>
            </div>

        </div>
    </div>

    {% include 'footer.html.twig' %}

{% endblock %}
